<!--creating a flex and its items which are icons(imported from external css file)-->

<div class="conta">
<div class="btn fb-btn">
<i class="fa fa-facebook" aria-hidden="true" id="fb"></i>
</div>
<div class="btn ig-btn">
<a href="https://www.instagram.com/dj_dinesh2.o/#"><i class="fa fa-instagram" aria-hidden="true" id="ig"></i></a>
</div>
<div class="btn tw-btn">
<i class="fa fa-twitter" aria-hidden="true" id="tw"></i>
</div>
<div class="btn tw-btn">
<i class="fa fa-github" aria-hidden="true" id="tw"></i>
</div>
<div class="btn tw-btn">
<i class="fa fa-youtube" aria-hidden="true" id="tw"></i>
</div>
</div> 
<br>
<br>
<p align="center" style="font-size:25px; color:goldenrod;">WE ACCEPT</p>

<!--creating the footer with about us,contact us and other sections-->

<div class="footer">
    <p>ABOUT US<br>
    <br>HELP<br><br>SERVICES<br><br>CONTACT US<br><br><font size="3px" color="" id="nalavada">+91 8688780652<br>sd3005130@gmail.com<br>old town,Repalle<br>Guntur,Andhra pradesh</font></p>
    <hr>
    <p>@ copy right SR wood works All rights reserved</p>
    <br>
</div>
             